#middle-section{
    padding: 0;
    margin: 0;
    grid-row-start: 1;
    grid-row-end: span 5;
    grid-column-start: 2;
    grid-column-end: span 3;
    height: 85vh; 
    border-bottom: .05em solid black;
}

#middle-section > h2{
    margin: 8em auto 0 auto;
    text-align: center;
}