#main{
  display: grid;
  grid-template: auto auto auto/ auto auto auto;
  grid-gap: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

#main > section{
  margin: 0;
  padding: 0;
}